# OS
.DS_Store
Thumbs.db

# Environment
.env*
!.env.common.example
!.env.example
.git-author
!.git-author.example

# Database volume
mysql_data/

# Logs
logs/

# Composer
vendor/

# IDE
.vscode/
.idea/

# Docker
*.log
